# Virtual environments
venv/
.env/
.env.*
.env

# Python cache
__pycache__/
*.py[cod]
*.so

# Logs
*.log

# VSCode
.vscode/

# IDEs
.idea/

# macOS
.DS_Store

# Django / Flask specific (si applicable)
instance/
*.sqlite3
